/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Overlock+SC&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1c1f25;
  color: #ffffffcc;
}
.workbg1 {
  background-image: url("./assets/curd.png");
  background-position: center;
  opacity: 0.05;
  background-size: cover;
}
.todo {
  background-image: url("./assets/todo.png");
  background-position: center;
  opacity: 1;
  background-size: cover;
  filter: blur(0.2px);
}
.mern {
  background-image: url("./assets/bgimg.jpg");
  background-position: center;
  opacity: 1;
  background-size: cover;
  filter: blur(0.2px);
}
@layer base {
  /* body {
    @apply font-[Poppins,sans-serif];
  } */
  li {
    @apply cursor-pointer;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
